@model ArtGallery_ECommerce.Models.Employee

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <div class="text-center">
        <h1>Employee Dashboard</h1>
    </div>
</div>

<div class="row justify-content-center">
    <div class="btn-group-vertical col-md-4" data-toggle="buttons">
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Create", "Products")'">Add Products</button>
        <br />
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index", "Products")'">Edit Products</button>
        <br />
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index", "Products")'">View Products</button>
    </div>
    <div class=" col-md-4">
        <a href="~/Orders/PickList">
            <div class="card card border-success mb-3 mb-3 align-items-center" style="max-width: 270px;">
                <div class="card-header text-dark">PICK LIST</div>
                <div class="card-body">
                    <img src="~/Content/Images/pickListIcon.png" width="240" height="183" alt="" />
                </div>
            </div>
        </a>
    </div>

    <div class="btn-group-vertical col-md-4" data-toggle="buttons">
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index", "Shipments")'">DON'T CLICK ME View Shipments</button>
        <br />
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index", "Orders")'">View Orders</button>
        <br />
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Edit", "Employees")'">Edit Account</button>
    </div>
</div>
