@model ArtGallery_ECommerce.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Name</p>
            
        </dt>

        <dd>
            @(Model.Buyer.FirstName + " " + Model.Buyer.LastName)
        </dd>

        <dt>
            <p>Order Status</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicOrderNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicOrderNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>
<div class="col-md-12">
    <table>
        @foreach (var item in ViewBag.ProductList)
    {
        <div class="col-xs-12 col-md-3">
            <div class="thumbnail">
                <img class="Display" src=@Url.Content(item.FileImagePath)>
                <div class="caption text-center">
                    <p>
                        <b>Name:</b> <span>@item.Name</span>
                    </p>
                    <p>
                        <b>Price:</b> <span>@item.Price USD</span>
                    </p>
                   
                </div>
            </div>
        </div>
}
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
