@model IEnumerable<ArtGallery_ECommerce.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicOrderNum)
        </th>
        <th>
            Name
        </th>
        <th>
            Order Status
        </th>

    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicOrderNum)
        </td>
        <td>
            @item.Buyer.FirstName + " " + @item.Buyer.LastName
        </td>
        <td>
            @item.OrderStatus.Name
        </td>

        <td>
            @if (User.IsInRole("Employee"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) 
            }
            @Html.ActionLink("Details", "Details", new { id = item.OrderId }) 
        </td>
    </tr>
}

</table>
